body,html{
    height: 100%;
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:1rem;
    font-family: 'Lato',sans-serif;
    font-weight:400;
    line-height: 1.8rem;
    color:#666;
}
h2{
    display:block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-end: 0px;
    font-weight: bold;

}
/* to perfect placement */
.pImg,.pImg1,.pImg2,.pImg3,.pImg4{
    position:relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* parallax effect */
    
    /* fixed=parallax
    scroll=normal */
    background-attachment: fixed;
}
.heading-container__heading-big{
    background-color: black;
    padding:2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    outline:0.5rem inset purple;
    outline-offset: 1rem;
    line-height:5rem;
}
.heading-container{
  position: absolute;
    color: white;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    top:50%;
    width:100%;
    text-transform: uppercase;
}
.heading-container__logo{
    width:30%;
    opacity:1;
}

.pImg{
    background-image: url(./img/bg.jpg);
    min-height: 100%;
}


.pImg1{
    background-image: url(./img/bg1.jpg);
    min-height: 80%;
}
.pImg2{
    background-image: url(./img/bg2.jpg);
    min-height: 80%;
}
.pImg3{
    background-image: url(./img/bg3.jpg);
    min-height: 80%;
}

.pImg4{
    background-image: url(./img/bg4.jpg);
    min-height: 80%;
}

section{
    text-align: center;
    padding:3rem 5rem;
}

.section-light{
    background-color:whitesmoke;
    color:666;
}
.section-dark{
    background-color: #282e34;
    color:#ddd;
}
.heading-container__small{
    text-transform: capitalize;
    background-color: black;
    padding: 0.7rem;
    border-top-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    outline:0.4rem inset  purple; 
    outline-offset: 0.2rem;
    text-align: center;
    /* position:absolute; */
}




@media(max-width:760px){
    .pImg,.pImg1,.pImg3,.pImg4{
        background-attachment: scroll;
    }
    .heading-container{
          font-size: 1.5rem;
          letter-spacing: 0.5rem;
    }
    .heading-container__heading-big{
        background-color: black;
        padding:0.6rem;
        outline:0.2rem inset purple;
        outline-offset: 0.3rem;
        border-radius:1rem 0 1rem 0;
        line-height:4rem;
    }
    .heading-container__small{
        padding: 0.4rem;
        border-top-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
        outline:0.2rem inset  purple; 
        outline-offset: 0.1rem;
       line-height:3rem;
       
        /* position:absolute; */
    }
    .section{
        padding:1.5rem 2rem;}
     .heading-container__logo{
            width:50%;
           
        }
}